In [1]:
#strings
first_dog = "Keanu"
first_dog

'Keanu'

In [2]:
#boolean
is_a_boerboel = True
is_a_retriever = False
is_a_boerboel

True

In [3]:
#integers
number_of_dogs = 10+6
number_of_dogs

16

In [4]:
#floats
type(16.1)

float

In [5]:
type(first_dog)

str

In [6]:
#concatenation 
name_one = "Moringa"
name_two = "School"
school_name = name_one + " " + name_two
print(school_name)

Moringa School

In [7]:
sentence = "Hello i am studying Python"
new_sentence = sentence.replace("Python","JavaScript")
new_sentence

'Hello i am studying JavaScript'

In [8]:
new_sentence.endswith("JavaScript")

True

In [9]:
new_sentence.startswith("Hello")

True

In [10]:
#comparison operators
50 > 40

True

In [5]:
#Arithmetic operators
#   +, *, -, /, %, **, //
# modulus %
5 % 4

1

In [6]:
2 **2

4

In [7]:
4/5

0.8

In [8]:
4//5

0

In [ ]:
#comparison operators
#  =, ==, always give a boolean value

In [9]:
#control flow operators  if - else, if - elif - else, try -except
# if else statement
price = 200000
if price > 150000:
    print("expensive")
else:
    print("cheap")

expensive

In [10]:
#for loop
dogs = ["Keanu", "Milo", "Khaleesi", "Gaena"]
for dog in dogs:
    print(dog)

Keanu
Milo
Khaleesi
Gaena

In [11]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [12]:
for dog in dogs:
    print((dog) + " GGK")

Keanu GGK
Milo GGK
Khaleesi GGK
Gaena GGK

In [13]:
#Next, let's see what day of the week it is. There are 7 days in the week starting with Sunday at day 1 and ending with Saturday at day 7. Use conditional statements to assign the day of the week to the variable day_of_the_week based on the number below assigned to the variable today_is. For example, if the day is 2, we would assign day_of_the_week the value "Monday".

today_is = 2
#day_of_the_week = "Monday"
if today_is == 1:
    day_of_the_week = "Sunday"
elif today_is == 2:
    day_of_the_week = "Monday"
elif today_is == 3:
    day_of_the_week = "Tuesday"
elif today_is == 4:
    day_of_the_week = "Wednesday"
elif today_is == 5:
    day_of_the_week = "Thursday"
elif today_is == 6:
    day_of_the_week = "Friday"
elif today_is == 7:
    day_of_the_week = "Saturday"
else:
    day_of_the_week = "Invalid day!"
    print(day_of_the_week)

In [ ]:
#assignment 
# Logical Operators, Identity Operators and Membership OPerators

In [14]:
labs = ['cmr', 'cvr', 'cbrd', 'crdr']
print(labs)

['cmr', 'cvr', 'cbrd', 'crdr']

In [15]:
labs[3]

'crdr'

In [16]:
labs[-2]

'cbrd'

In [17]:
labs.append('parasitology')
print(labs)

['cmr', 'cvr', 'cbrd', 'crdr', 'parasitology']

In [18]:
labs.pop(1)
print(labs)

['cmr', 'cbrd', 'crdr', 'parasitology']

In [19]:
labs.remove('crdr')
print(labs)

['cmr', 'cbrd', 'parasitology']

In [20]:
labs[0] = 'kitchen'
print(labs)

['kitchen', 'cbrd', 'parasitology']

In [21]:
labs.insert(1,'toilet')
print(labs)

['kitchen', 'toilet', 'cbrd', 'parasitology']

In [1]:
dogs = {
    'ovcharka':'khaleesi',
    'retriver':'milo',
    'gsd':'maya'}
print(dogs)

{'ovcharka': 'khaleesi', 'retriver': 'milo', 'gsd': 'maya'}

In [2]:
dogs['mix'] = 'pixie'
print(dogs)

{'ovcharka': 'khaleesi', 'retriver': 'milo', 'gsd': 'maya', 'mix': 'pixie'}

In [24]:
#dogs.pop[gsd]
del.dogs[ovcharka]

SyntaxError: invalid syntax (<ipython-input-24-7d3d49e2537d>, line 2)